absl-py==2.5.0
annotated-types==0.8.0
anyio==4.14.2
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.2
async-lru==2.3.0
attrs==26.1.0
av==18.0.0
babel==2.18.0
beautifulsoup4==4.15.0
bidict==0.23.1
bleach==6.4.0
blinker==1.9.0
cachetools==7.1.6
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
colorlog==6.12.0
comet_ml==3.58.4
comm==0.2.3
ConfigArgParse==1.7.5
configobj==5.0.9
contourpy==1.3.3
cryptography==49.0.0
cycler==0.12.1
dash==4.4.1
debugpy==1.8.21
decorator==5.3.1
defusedxml==0.7.1
descartes==1.1.0
dill==0.4.1
docstring_parser==0.18.0
dulwich==1.2.12
embreex==4.4.0
everett==3.1.0
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.29.0
fire==0.7.1
Flask==3.1.3
fonttools==4.63.0
fpsample==1.0.2
fqdn==1.5.1
fsspec==2026.4.0
gdown==6.1.0
gitdb==4.0.12
GitPython==3.1.55
grpcio==1.82.1
h11==0.16.0
h5py==3.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
ImageIO==2.37.4
imageio-ffmpeg==0.6.0
importlib_metadata==9.0.0
ipykernel==7.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
janus==2.0.0
jaxtyping==0.3.11
jedi==0.20.0
Jinja2==3.1.6
joblib==1.5.3
json5==0.15.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_builder==1.1.1
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter_server==2.20.0
jupyter_server_terminals==0.5.4
jupyterlab==4.6.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
lark==1.3.1
lazy-loader==0.5
lightning-utilities==0.15.3
lxml==6.1.1
manifold3d==3.5.2
mapbox_earcut==2.0.0
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
matplotlib-inline==0.2.2
mdurl==0.1.2
mediapy==1.2.7
mistune==3.3.4
mpmath==1.3.0
msgpack==1.2.1
msgpack-numpy==0.4.8
msgspec==0.21.1
multiprocess==0.70.19
narwhals==2.24.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nerfacc==0.5.2
nerfview @ git+https://github.com/nerfstudio-project/nerfview@4538024fe0d15fd1a0e4d760f3695fc44ca72787
nest-asyncio==1.6.0
nest-asyncio2==1.7.2
networkx==3.6.1
ninja==1.13.0
nodeenv==1.10.0
notebook_shim==0.2.4
numpy==1.26.4
nuscenes-devkit==1.2.0
open3d==0.19.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
packaging==26.2
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.7
pathos==0.3.5
piexif==1.1.3
pillow==12.2.0
platformdirs==4.11.0
plotly==6.9.0
plyfile==1.1.3
pox==0.3.7
ppft==1.7.8
prometheus_client==0.25.0
prompt_toolkit==3.0.52
protobuf==3.20.3
psutil==7.2.2
pure_eval==0.2.3
pybind11==3.0.4
pycocotools==2.0.11
pycollada==0.9.3
pycolmap @ git+https://github.com/google/nerfies.git@1a38512214cfa14286ef0561992cca9398265e13#subdirectory=third_party/pycolmap
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pymeshlab==2023.12.post1
pyngrok==8.1.2
pyparsing==3.3.2
pyquaternion==0.9.9
PySocks==1.7.1
python-box==6.1.0
python-dateutil==2.9.0.post0
python-engineio==4.13.3
python-json-logger==4.1.0
python-socketio==5.16.3
pytorch-msssim==1.0.0
pywinpty==3.0.5
PyYAML==6.0.3
pyzmq==27.1.0
rawpy==0.27.0
referencing==0.37.0
requests==2.34.2
requests-toolbelt==1.0.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.4
rpds-py==2026.6.3
rtree==1.4.1
scikit-image==0.26.0
scikit-learn==1.5.2
scipy==1.13.1
semantic-version==2.10.0
Send2Trash==2.1.0
sentry-sdk==2.66.1
shapely==2.0.7
simple-websocket==1.1.0
simplejson==4.1.1
six==1.17.0
smmap==5.0.3
soupsieve==2.9.1
splines==0.3.0
stack-data==0.6.3
svg.path==7.1
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorly==0.9.0
termcolor==3.3.0
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2026.3.3
timm==0.6.7
tinycss2==1.5.1
torch_fidelity==0.4.0
torchmetrics==1.8.2
tornado==6.5.7
tqdm==4.69.0
traitlets==5.15.1
trimesh==4.12.2
typeguard==4.5.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==1.0.15
tzdata==2026.3
uri-template==1.3.0
urllib3==2.7.0
vhacdx==0.0.10
viser==0.2.7
wadler_lindig==0.1.7
wandb==0.25.0
wcwidth==0.8.2
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.1.1
Werkzeug==3.1.8
widgetsnbextension==4.0.15
wrapt==2.2.2
wsproto==1.3.2
wurlitzer==3.1.1
xatlas==0.0.11
xxhash==3.8.1
yourdfpy==0.0.60
zipp==4.1.0
zstandard==0.25.0
